{% set map = salt['grains.filter_by']({
    'default': {
        'docroot': '/www/html',
        'www_group': 'www-data',
        'www_user': 'www-data',
    },
    'Debian': {
        'docroot': '/www/html',
        'www_group': 'www-data',
        'www_user': 'www-data',
    },
    'RedHat': {
        'docroot': '/var/www/html',
        'www_group': 'apache',
        'www_user': 'apache',
    },
    'Suse': {
        'docroot': '/srv/www/htdocs',
        'www_group': 'www',
        'www_user': 'wwwrun',
    },
}, merge=salt['pillar.get']('wordpress:lookup')) %}
